<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{usuario.nome_usuario}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="goPerfil()">
                <ion-icon class="icon-bar" name="person-circle-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="sair()">
                <ion-icon class="icon-bar" name="exit-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="cont">
        <h5>Bem-vindo(a)</h5>
        <div id="btns">
            <button (click)="listarAnalises()" class="{{bgs[bg(0)]}}">Ver resultados</button>
            <button (click)="cadastrarAnalise()" class="{{bgs[bg(1)]}}">Nova análise</button>
            <button *ngIf="usuario.permissoes >= 2" (click)="listarUsuarios()" class="{{bgs[bg(2)]}}">Ver usuários</button>
            <button *ngIf="usuario.permissoes >= 2" (click)="cadastrarUsuario()" class="{{bgs[bg(3)]}}">Novo usuário</button>
        </div>
    </div>

</ion-content>