<ion-content>
  <button type="button" id="btnHome">
    <ion-icon name="arrow-back" (click)="back()"></ion-icon>
  </button>
  <div class="content-login">
    <ion-card style="position: relative;">
      
      <ion-card-header>
        <ion-card-title>LOGIN</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="fGroup" (ngSubmit)="login()">
          <ion-item>
            <ion-label position="floating">Login</ion-label>
            <ion-input type="text" formControlName="login"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password" formControlName="senha"></ion-input>
          </ion-item>
          <ion-button color="primary" class="btn" expand="block" slot="end" size="small"
            type="submit">Entrar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>