<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="secondary">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Usuários</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="goHome()">
                <ion-icon class="icon-bar" name="home-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="goPerfil()">
                <ion-icon class="icon-bar" name="person-circle-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="sair()">
                <ion-icon class="icon-bar" name="exit-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content id="cont">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
            refreshingSpinner="circles" refreshingText="Carregando...">
        </ion-refresher-content>
    </ion-refresher>
    <div>

        <ul *ngFor="let user of listUsers; let i = index" class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center {{bgs[bg(i)]}}">
                <div>
                    <strong>{{user.nome_usuario}} </strong><span class="mat"> {{user.login}}</span>
                    <br>
                    <small>{{user.permissoes >= 2 ? 'Professor' : 'Estudante'}}</small>
                </div>
                <div>
                    <button *ngIf="user.permissoes < 2" (click)="deletar(user.id_usuario)">
                        <ion-icon name="close-circle"></ion-icon>
                    </button>
                </div>
            </li>
        </ul>
    </div>


</ion-content>