.list-group {
    margin: 20px;
    -webkit-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.45);
    background-color: #F1F1F1 !important;
}

#cont ul li span {
    color: rgb(156, 156, 156);
    font-size: 16px;
}

#cont ul li small {
    color: rgb(126, 126, 126);
}

.mat {
    font-size: 14px !important;
}

#cont ul li button {
    height: auto;
    width: auto;
    font-size: 25px;
    margin-right: 10px;
    border-radius: 4px;
    padding: 0px;
    background-color: transparent;
}

#cont ul li button ion-icon {
    color: rgb(250, 54, 54);
    background-color: transparent;
}


