<ion-content>
  <div id="todo-home">
    <div id="over">
      <!--<form [formGroup]="fGroup" (ngSubmit)="teste()">
        <input type="file" formControlName="file">
        <button type="submit">adasd</button>
      </form>-->
      <img src="/assets/icon.jpeg">            
      <button (click)="goToAnalise()" class="bg-roxo btn-analise">Participe de uma análise sensorial</button>
      <div class="btn-bot">
        <button (click)="goToLogin()" class="bg-azulE">Faça seu login</button>
        <button (click)="goToNovoUsuario()" class="bg-laranja">Cadastre-se</button>
      </div>
    </div>
  </div>

</ion-content>